<h1> Nos plats </h1>
<div class="carrousel">
  <div class="navigation">
      <div class="flechegauche"><</div>
      <div class="flechedroite">></div>
  </div>
  <div class="slider">
      <div class="imageslider"><%= image_tag "image1.jpg" %>
      </div>
      <div class="imageslider"><%= image_tag "image2.jpg" %>
      </div>
      <div class="imageslider"><%= image_tag "image3.jpg" %>
      </div>
      <div class="navigationparpoints">
          <div class="rond"></div>
          <div class="rond"></div>
          <div class="rond"></div>
      </div>
  </div>

</div>
